/* Responsive styles */
@media (max-width: 768px) {
    .looking-img div, .offerH, .offerH2, #offer2, #offer3, .con-2, .health-2 {
        flex-direction: column;
        align-items: center;
    }

    .looking-img div, #offer2 img, #offer3 img, .con-2 div, .health-2 div {
        max-width: 100%;
    }

    .carousel img {
        width: 100px;
    }
}

@media (max-width: 480px) {
    .looking-img div, #offer2 img, #offer3 img, .con-2 div, .health-2 div {
        max-width: 100%;
    }

    .carousel img {
        width: 80px;
    }
}
