.container
{
    display: flex;
    flex-direction: column;
    gap: 6px;
}
.container label{
    font-weight: 600;
    font-size: 1rem;
    color: black;

}
.container input
{
    border-radius: 5px;
    border: 1px solid rgb(255, 0, 0);
    outline:  none;
    padding: 10px 15px;
    color: rgb(0, 0, 0);
}
.conatiner input:hover{
    border-color: #ccc;
}
.conatiner input:focus{
    border-color: rgb(255, 0, 0);
}