/* HealthBlog.css */

/* *{
  font-family: 'Courier New', Courier, monospace;
} */
.carousel-item {
    height: 90vh;
    min-height: 300px;
    background: no-repeat scroll center scroll;
    background-size: cover;
  }
  
  .carousel-caption h4, .carousel-caption p {
    color: black;
  }
  
  .contentsofblog {
    margin-top: 35rem; /* Adjusted to prevent overlap */
    padding: 20px;
    margin-left: 8.5rem;
  }
  
  .image {
    box-shadow: 0 4px 6px -1px rgba(0,0,0,0.5);
    border-radius: 10px;
    transition: all 1.1s;
    cursor: pointer;
    height: auto;
    width: 100%;
    display: block;
  }
  
  .first{
    margin-top: 2rem;
  }
  .first h5{
    font-size: 16px;
    margin-top: 0.5em;
    color:rgb(0, 119, 119);
  }

  .first h3{
    color:rgb(71, 70, 70);
    font-size: 18px;
    margin-bottom: 1rem;
  }

  .first p span{
    color:rgb(0, 119, 119);
  }

  .second-1 h5{
    font-size: 16px;
    margin-top: 0.5em;
    color:rgb(0, 119, 119);
  }

  .second-1 h3{
    color:rgb(71, 70, 70);
    font-size: 18px;
    margin-bottom: 1rem;
  }

  .second-1 p span{
    color:rgb(0, 119, 119);
  }

  .blog-image{
    width:40rem;
  }

  .blog-2-img{
    width: 20rem;
  }

  .third-img{
    width: 20rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .fourth{
    margin-top: 2rem;
  }
  .fourth h5{
    font-size: 16px;
    margin-top: 0.5em;
    color:rgb(0, 119, 119);
  }

  .fourth h3{
    color:rgb(71, 70, 70);
    font-size: 18px;
    margin-bottom: 1rem;
  }

  .fourth p span{
    color:rgb(0, 119, 119);
  }

  .blog-image-content{
    width:30rem;
  }

  .fourth-content{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:2rem;
  }

  /* .container2 h2 {
    text-align: center;
  }
  
  .card {
    border-radius: 10px;
  }

  .mg{
    margin-bottom: 3rem;
  }
  
  .imp h2 {
    margin-top: 25px;
    text-align: center;
  }
  
  .imp {
    margin-bottom: 50px; /* Ensure space at the bottom */