
* {
padding: 0;
margin: 0;
}

li {
display: inline;
padding: 0 3vw;
border-radius: 80px;
}

li:hover {
background-color: rgb(255, 255, 255);
color: rgb(0, 0, 0);

}

ul {
text-align: right;

}

.container {
position: relative;
}

header {
background-color: rgb(15, 239, 205);
color: rgb(0, 0, 0);
padding: 23px;
border: 2px solid white;
}
p
{
color: rgb(0, 0, 0);
font-size: 500px;

}
.btn-group button {
background-color: rgb(249, 249, 249); 
border: 1px solid  rgb(15, 239, 205); /* Green border */
color: rgb(0, 0, 0); /* White text */
padding: 20px 24px; /* Some padding */
cursor: pointer; /* Pointer/hand icon */
float: left; /* Float the buttons side by side */
}

.btn-group button:not(:last-child) {
border-right: none; /* Prevent double borders */
}

/* Clear floats (clearfix hack) */
.btn-group:after {
content: "";
clear: both;
display: table;
}

/* Add a background color on hover */
.btn-group button:hover {
background-color:  rgb(15, 239, 205);
color: white;
} .dropdown {
position: relative;
display: inline-block;
}

.dropdown-btn {
background-color: #3498db;
color: white;
padding: 10px;
border: none;
cursor: pointer;
}

.dropdown-content {
display: none;
position: absolute;
background-color: #f9f9f9;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
top: 100%;
left: 0;
}

.dropdown-content a {
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
}

.dropdown-content a:hover {
background-color: #ddd;
}

.dropdown:hover .dropdown-content {
display: block;
}
