
.container
{
    height: 100%;
    min-height: 100vh;
    width: 100%;
    background-color:#10847e;
    background: linear-gradient(to right,#ffffff,#9ce7e3 );
    display: flex;
    justify-content: center;
    align-items: center;
}
.innerBox{
    min-width: 480px;
    height: fit-content;
    width: fit-content;
    background-color: aliceblue;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0);
    padding: 30px;
    border-radius: 10px;
    flex-direction: column;
    gap: 10px;

}
.footer{
    display: flex;
    flex-direction: column;
    gap: 10px;

}
.footer button:disabled{
    background-color: rgb(65, 65, 65)  !important;
}
.footer button{
    outline: none;
    border: none;
    background-color:#0d8781;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    font-weight: bold;
    font-size: 1rem;
    padding: 10px 16px;
    width: 100%;
    transition: 100ms;
    cursor: pointer;
}
.footer button:hover{
 background-color:#05635e;
 color: rgb(255, 255, 255);
}
.footer p{
    font-weight: 700;
    color: black;

}
.footer .error{
    font-weight: bold;
    font-size: 0.875rem;
    color: #f3422a;
    
}
.footer p span a{
font-weight: bold;
color:#10847e;letter-spacing:  1px;
letter-spacing: 1px;
font-size: 1rem;
text-decoration: none;
}
.showHideIcon {
    cursor: pointer;
    color: #08504c;
    font-size: 0.875rem;
    margin-top: 5px;
   
  }
  
  .showHideIcon:hover {
    color: #000e0e;
  }
  
  .passwordHidden:before {
    content: 'Show ';
  }
  
  .passwordShown:before {
    content: 'Hide ';
  }

  .passwordHidden:after {
    content: 'password';
  }
  
  .passwordShown:after {
    content: 'password';
  }